body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}
header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em 0;
}
.produtos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}
.produto {
  width: 250px;
  margin: 10px;
  text-align: center;
}
.produto img {
  width: 100%;
  height: auto;
}
.cadastro {
  background-color: #f4f4f4;
  padding: 20px;
  text-align: center;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
}
label {
  margin-right: 10px;
}
button {
  background-color: #333;
  color: #fff;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
}
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
